SERVER_PORT: 2000

DB_HOST: localhost
DB_PORT: 5432
DB_USER: cems_dis
DB_PASS: cems_dis
DB_NAME: cems_dis

USER_LOGIN_TOKEN_AGE_SHORT: 1800
USER_LOGIN_TOKEN_AGE_LONG: 86400
DEVICE_LOGIN_TOKEN_AGE: 300
DEVICE_REFRESH_TOKEN_AGE: 600
