<% template "admin.html" . %>
<% define "title" %>Push Request<% end %>
<% define "content" %>
        <div class="row justify-content-between pb-2">
          <div class="col-12 col-lg-3">
            <div class="title1a text-nowrap"><% block "title" . %><% end %></div>
          </div>
          <div class="col-12 col-lg-9 pr-1">
            <div class="row justify-content-start justify-content-lg-end mx-0">
              <div class="d-flex" style="width: 185px; margin-top: 2px;">
                <label class="pt-1" style="width: 50px;">Mulai</label>
                <input class="mx-0" id="push-date-start" width="124" value="<% .date_min %>"/>
              </div>
              <div class="d-flex" style="width: 185px; margin-top: 2px;">
                <label class="pt-1" style="width: 50px;">Sampai</label>
                <input class="mx-0" id="push-date-end" width="124" value="<% .date_max %>" />
              </div>
              <div style="width: 220px;">
                <div class="input-group float-md-right pt-1" style="width: 218px;">
                  <form>
                    <input type="text" class="input-sm" ng-model="searchKeywords" ng-change="resetPage()" placeholder="Search keywords"></input>
                    <div class="btn-group float-right">
                      <button type="submit" class="btn btn-sm btn-outline" ng-click="loadPushRequests()"><i class="fa fa-refresh" title="Refresh"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-show="isBusy">
          <div class="col-12">
            <div class="spinner-border text-primary" style="position: absolute; top: 220px; left: 50%; width: 50px; height: 50px;"></div>
          </div>
        </div>

        <table class="normal full highlight-row">
        <tr>
          <th>ID</th>
          <th>Tanggal</th>
          <th>IP Address</th>
          <th>User Agent</th>
          <th>UID</th>
          <th>Request</th>
          <th>Status</th>
          <th>Info</th>
        </tr>
        <tr ng-repeat="r in requestList track by $index">
          <td>{{r.id}}</td>
          <td>{{r.created_at}}</td>
          <td>{{r.ip_addr}}</td>
          <td>{{r.user_agent}}</td>
          <td>{{r.uid}}</td>
          <td style="word-wrap: break-word; word-break: break-all;">{{r.request}}</td>
          <td>{{r.status}}</td>
          <td>{{r.info}}</td>
        </tr>
        </table>

        <div class="row table-footer justify-content-between">
          <div class="col"><div id="push-request-paging"></div></div>
          <div class="col align-right text-nowrap">{{cntShownReqs}} / {{cntTotalReqs}}</div>
        </div>

        <div id="message-box"></div>


        <script>
          mainApp.controller('wmCtrl', function($scope, $http, $q) {
            var initDate = (new Date()).toISOString().substr(0, 10);
            var pushDateStart = $('#push-date-start').datepicker({uiLibrary: 'bootstrap4', size: 'small', format: 'yyyy-mm-dd', value: initDate});
            var pushDateEnd = $('#push-date-end').datepicker({uiLibrary: 'bootstrap4', size: 'small', format: 'yyyy-mm-dd', value: initDate});

            $scope.resetPage = function() {
              $scope.requestPage = 1;
            }

            $scope.loadPushRequests = function() {
              var range = getDateRange(pushDateStart, pushDateEnd, "Tanggal awal", "Tanggal akhir", true);
              if(range instanceof Error) {
                window.alert(range.message);
                return;
              }

              var keywords = $scope.searchKeywords ? $scope.searchKeywords : "";
              var timeRange = range != null ? "&ts1=" + range.start + "&ts2=" + range.end : ""
              var page = $scope.requestPage ? $scope.requestPage : 1;
              $scope.isBusy = true;
              $http.get("/api/v1/push-requests?page=" + page + timeRange + "&q=" + keywords).then(
                function(response) {
                  $scope.requestList = response.data.data;
                  $scope.cntShownReqs = $scope.requestList.length;
                  $scope.cntTotalReqs = response.data.meta.pagination.rows;
                  $scope.isBusy = false;
                  paging(document.getElementById("push-request-paging"), $scope.requestPage, response.data.meta.pagination.pages, 7, $scope.clkPushRequestPage, defaultPagingOptions());
                }
              )
            }

            $scope.clkPushRequestPage = function(page) {
              $scope.requestPage = page;
              $scope.loadPushRequests();
            }

            $scope.clkRefresh = function() {
              $scope.loadPushRequests();
            }

            $scope.resetPage();
            $scope.loadPushRequests();
          });
        </script>
<% end %>
